body {
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F6F6F6;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#container, #header {
    margin: 0 auto;
    padding: 25px 0;
    border: 1px solid #CCC;
    border-top: 0;
    background-color: white;
}

#header {
    width: 768px;
    margin-top: 19px;
    color: white;
    background-color: #39424D;
}

#header h1 {
    font-size: 1.6875rem;
    line-height: 2rem;
    margin-top: 0.2rem;
    padding-bottom: 7px;
    font-weight: 700;
}

#header h2 {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

#container {
    width: 766px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container > div {
    width: 40%;
    margin: 0 25px 25px;
}

#container h1 {
    text-align: left;
    font-size: 16px;
}

#container input[type="text"], #container input[type="password"] {
    width: 100%;
    border: 0;
    outline-style: none;
    border-bottom: 1px solid #CCC;
    padding-top: 13px;
    height: 45px;
    font-size: 14px;
}

#container input[type="text"]:disabled, #container input[type="password"]:disabled {
    background-color: white;
}

#container input[type="submit"] {
    display: inline-block;
    background-color: #00B7E0;
    border: 0;
    color: white;
    width: 100%;
    font-size: 12px;
    padding: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 14px;
    transition: background-color 0.5s linear;
}

#container input[type="submit"]:hover:not(:disabled) {
    background-color: #00647A;
}

#container input[type="submit"]:disabled {
    opacity: 0.5;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes circle {
    to {
        stroke-dashoffset: 0;
    }
}

#spinner {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
}

#spinner svg {
    display: block;
    animation: spinner 0.5s linear infinite;
    transform: translateZ(0);
    left: auto;
    margin: auto;
    position: relative;
    top: 30%;
}

#spinner svg circle {
    animation: circle 1.25s linear infinite alternate-reverse;
    stroke: #00B7E0;
}

#progress {
    display: block;
    position: relative;
    top: 43%;
}

.hidden {
    display: none;
}

#language {
    float: right;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
}

#language svg {
    fill: currentColor;
    vertical-align: text-top;
}

#language #list {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    display: none;
    left: 50%;
    min-width: 70%;
    padding: 7px 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}

#language #list > ul {
    background-image: radial-gradient(farthest-side at 50% 0, rgba(26, 26, 26, 0.12), transparent),
                      radial-gradient(farthest-side at 50% 100%, rgba(26, 26, 26, 0.12), transparent);
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 9px;
    list-style-type: none;
    margin: 0;
    max-height: 270px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    -webkit-padding-start: 0;
}

#language #list > ul > li {
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    margin: 0 9px;
    padding: 11px 9px 9px 11px;
    transition-duration: 0.2s;
    transition-property: background-color, color;
    white-space: nowrap;
}

#language #list > ul > li:hover {
    background-color: rgba(0, 183, 224, 0.1);
    color: #00B7E0;
}

#language #list > ul::before {
    margin: 0 0 -30px;
}

#language #list > ul::after {
    margin: -29px 0 0;
}

#language #list > ul::before, #language #list > ul::after {
    background-color: white;
    content: '';
    display: block;
    height: 30px;
    position: relative;
    z-index: -1;
}

#language::before {
    border: 9px solid transparent;
    border-bottom-color: white;
    bottom: -1px;
    content: '';
    display: none;
    top: 0;
    height: 0;
    left: 50%;
    margin-left: 9px;
    pointer-events: none;
    position: absolute;
    width: 0;
    z-index: 2;
}

#language:hover #list, #language:hover::before {
    display: block;
}

.success, .error {
    line-height: 1rem;
}

.success {
    color: #4CDA9A;
}

.error {
    color: #D71035;
}
